---
layout: home
permalink: /
---
<div class="home">
  <div class="swiper-container" id="start" data-swiper-autoplay="2000">
    <ul class="swiper-wrapper">
      {% assign sorted = (site.series-list | sort: 'weight') %}
      {% for project in sorted %}
      <li class="swiper-slide" style="background-image: url({{ site.baseurl }}{{ project.preview }})">
        <a class="series-link" href="{{ site.baseurl }}{{ project.link }}">
          <span class="series">SERIES</span>
          <h2 class="series-title">{{ project.name }}</h2>
          <i class="icono-arrow2-left"></i>
        </a>
      </li>
      {% endfor %}
    </ul>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</div>
{% include scripts.html %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
<script type="text/javascript">
  $(window).on('resize',function() {
      $('#start').css('height', ($(window).height() - 64*2));
  }).trigger('resize');

  var swiper = new Swiper('.swiper-container', {
      pagination: '.swiper-pagination',
      paginationType: 'fraction',
      autoplay: 5000,
      autoplayDisableOnInteraction: true,
      slidesPerView: 1,
      spaceBetween: 0,
  });
</script>
