---
layout: home
permalink: /
---
<section id="start" class="fullbleed hero">
</section>

<div class="home">

  <h2>Works</h2>

  <ul class="posts">
    {% assign sorted = (site.series-list | sort: 'weight') %}
    {% for project in sorted %}
      <li>
        <a href="{{ project.link | prepend: site.baseurl }}">
          {{ project.name }}
          <img src="{{ project.preview }}" />
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
{% include scripts.html %}
<script type="text/javascript">
  $(window).on('resize',function() {
      $('#start').css('height', ($(window).height() - 64*2));
  }).trigger('resize');
</script>
