    {% include analytics.html %}
    <script type="text/javascript">
      $('#toggle').click(function() {
        $(this).toggleClass('active');
        var text = $(this).text();
        $(this).text(text == "NAVIGATE" ? "CLOSE" : "NAVIGATE");
       $('#overlay').toggleClass('open');
      });

      $('#content').removeClass('no-js').addClass('js fade-in');

      WebFont.load({
        google: {
          families: ['Cormorant Infant', 'Fira Sans']
        },
        timeout: 3000
      });
    </script>
  </body>
</html>
