{% assign pagetitle = site.title %}
{% if page.pagetitle %}
  {% assign pagetitle = page.pagetitle %}
{% endif %}

{% assign pagedescription = site.description %}
{% if page.description %}
  {% assign pagedescription = page.description %}
{% endif %}
{% if page.excerpt %}
  {% assign pagedescription = page.excerpt %}
{% endif %}

{% assign pageurl = page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% if pagetitle %}{{ pagetitle }} | {% endif %}{{ site.title }}</title>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ pagedescription }}" />
  <meta name="keywords" content="encaustic paint artist california seascape abstract expressionism" />

  <meta name="theme-color" content="#222" />

  <!-- Removing initial-scale=1.0 disables zooming capabilities -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="MobileOptimized" content="320">

  <link rel="canonical" data-proofer-ignore href="{{ pageurl }}">

  <style type="text/css">
    {% capture include_to_scssify %}{% include main.scss %}{% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>
</head>
<body>
