
{% assign this_collection = include.collection %}
{% for c in site.[this_collection] %}
  {% if c.title == page.title %}
    {% assign thisPost = c %}
    {% if forloop.index == 1 %}
      {% assign prevflag = 0 %}
      {% assign nextflag = 1 %}
      {% elsif forloop.index == forloop.length %}
      {% assign prevflag = 1 %}
      {% assign nextflag = 0 %}
      {% else %}
      {% assign prevflag = 1 %}
      {% assign nextflag = 1 %}
    {% endif %}
  {% endif %}
{% endfor %}

{% for c in site.[this_collection] %}
  {% if c.title == page.title %}
    {% assign prevflag = 0 %}
  {% endif %}
  {% if prevflag == 1 %}
    {% assign prevPost = c %}
    {% assign page.previous = c %}
  {% endif %}
{% endfor %}

{% if nextflag == 1 %}
  {% for c in site.[this_collection] %}
    {% if foundPost == 1 %}
      {% assign getNext = 1 %}
    {% endif %}
    {% if c.title == page.title %}
      {% assign foundPost = 1 %}
    {% endif %}
    {% if getNext == 1%}
      {% assign nextPost = c %}
      {% assign page.next = c %}
      {% assign foundPost = 0 %}
      {% assign getNext = 0 %}
    {% endif %}
  {% endfor %}
{% endif %}

<nav class="pagination">
  <a class="pagination-link prev" href="{{ prevPost.url | prepend: site.baseurl }}">
    {% if prevPost.url %}
    <svg viewBox="0 0 20 20">
      <path class="st0" d="M10 14.5L3 6.8l1.4-1.3 5.6 6.1 5.6-6.1L17 6.8"></path>
    </svg>
    prev
    {% endif %}
  </a>
  {% assign sorted = (site.series-list | sort: 'weight') %}
  {% for project in sorted %}
    {% if project.slug == this_collection %}
    <a href="{{ project.link | prepend: site.baseurl }}" class="pagination-link">
    {{ project.name }}
    {% endif %}
    </a>
  {% endfor %}
  <a class="pagination-link next" href="{{ nextPost.url | prepend: site.baseurl }}">
    {% if nextPost.url %}
    next
    <svg viewBox="0 0 20 20">
      <path class="st0" d="M10 14.5L3 6.8l1.4-1.3 5.6 6.1 5.6-6.1L17 6.8"></path>
    </svg>
    {% endif %}
  </a>
</nav>
