---
layout: compress
---
{% include head.html %}
{% include header.html %}
{% include base.html %}
<div id="content" class="no-js">
  {% include pagination.html collection=page.collection %}
  <article class="artwork-details" itemscope itemtype="http://schema.org/Product">
    {% assign class = nil %}
    {% if page.collection contains 'porthole' %}
      {% assign class = 'transparent' %}
    {% endif %}
    <figure class="artwork-image {{ class }}"
            style="background-image: url({{ page.preview | prepend: site.image_dir | prepend: site.baseurl }})">
              <img src="{{ page.preview | prepend: site.image_dir | prepend: site.baseurl }}" alt="Image of {{ page.title }}">
            </figure>
    <div class="artwork-description" itemprop="description">
      <header>
        <h1 itemprop="name" class="artwork-title">{{ page.title }}</h1>
      </header>
      <div class="artwork-attributes">
        <ul>
          <li>{{ page.medium }}</li>
          <li>{{ page.dimensions }}</li>
          <li></li>
        </ul>
        {% if page.sold == true %}
        <span class="btn sold">Sold</span>
        {% else %}
        <a class="btn inquire" href="mailto:hi@juliebrookman.com?Subject=Painting Inquiry: {{ page.title }}&body={{site.url}}{{site.baseurl}}{{page.url}}%0D%0A%0D%0A">Inquire</a>
        {% endif %}
      </div>
    </div>
  </article>
</div>
{% include footer.html %}
{% include scripts.html %}
<script>

  console.log($(window).width());
  $(window).on('resize',function() {
      var w = $(window).width();
      var hHeight = $('.header').height();
      var fHeight = $('#footer').height();
      var pHeight = $('.pagination').height();
      var pMargin = parseInt($('.pagination').css('margin-bottom'));
      console.log(pMargin);
      if(w > 799) {
        $('.artwork-image').css('height', ($(window).height() - (hHeight + fHeight + pHeight + pMargin)));
      }
      else {
        console.log('small screen');
        $('.artwork-image').css('height', 'auto');
      }
  }).trigger('resize');
</script>
{% include foot.html %}
