---
layout: compress
---
{% include head.html %}
{% include header.html %}
{% include base.html %}
<div id="content" class="no-js">
  {% assign sorted = (site.saudade-list | sort: 'weight') %}
  {% for project in sorted %}
    {% if project.title == page.title %}
      <div class="series-masthead">
        <span class="byline">SAUDADE</span>
        <h1 class="series-title">{{ page.title }}</h1>
      </div>
      <div class="series-statement">
        {{ project.content }}
      </div>
      <div class="posts masonry">
        {% assign sortedArtworks = site[page.slug] | sort: "weight") %}
        {% for project in sortedArtworks%}
        <div class="item">
          <a href="{{ project.url | prepend: site.baseurl }}">
            {{ project.name }}
            <img src="{{ site.baseurl }}{{ site.image_dir }}{{ project.preview }}" />
          </a>
        </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
</div>
{% include footer.html %}
{% include scripts.html %}
{% include foot.html %}
